.main{
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}
.main div{
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
}