.main {
  justify-content: center;
  width: auto;
}

.texto {
  text-align: center;
}
.texto h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.73px;
  text-align: center;
  color: #a09d9d;
}
.texto h3 {
  font-family: Inter;
  font-weight: 700;
  line-height: 38.73px;
  text-align: center;
  color: #a09d9d;
}
.main div button {
  color: #fff;
  box-sizing: border-box;
  font-size: 32px;
  width: 331px;
  height: 59px;
  left: 807.94px;
  top: 1176px;
  background: #6add57;
  border: 1px solid #d9d9d9;
  border-radius: 9px;
}
.boxes {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.box1 {
  width: 360px;
  height: 320px;
  top: 1513px;
  border: 1px;
  margin: 10px 20px 20px 20px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 2%;
  padding: 0.5%;
}
.imgs {
  padding: 37px 10px 0px 2px;
}
.b {
  display: flex;
}
.b h4 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
}
.box1 li {
  margin: -20px 10px 23px 10px;
}
.box1 p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: -22px 20px 5px 20px;
  list-style: inside;
}
.footer {
  background: #f3efef;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  padding-top: 15px;
}
