.teste {
  font-size: 100px;
}

.container {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  background-color: #f0f0f0;
  padding: 5rem;
  border-radius: 4px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.inputGroup {
  margin-bottom: 2rem;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.2rem;
}

.inputGroup input {
  width: 500px;
  padding: 1.0rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0056b3;
}

