.links {
  width: 253px;
  height: 536px;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 2px 0 0 20px;
}
.links li {
  list-style: none;
}
.links li p {
  color: #a6a2a2;
}
.links li a {
  padding: 15px;
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #868585;
}
