.pesquisa {
  margin: 40px 0 23px 80px;
  display: flex;
  flex-direction: row;
}
.pesquisa input {
  display: flex;
  box-sizing: border-box;
  width: 95%;
  height: 60px;
  background: #ffffff;
  border: 1px solid #9e9898;
  border-radius: 9px;
  font-size: 30px;
}
.pesquisa button {
  width: 250px;
  height: 60.36px;
  box-sizing: border-box;
  background: #e8e1e1;
  border: 1px solid hsl(0, 3%, 61%);
  border-radius: 9px;
  margin: 0 0 0 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #767272;
}
.pesquisa button :hover {
  background: #d6cece;
}
